.workoutLinks {
	text-align: center;
}
.recipeLinks {
	text-align: center;
}

.browse {
	text-align: center;
}

/* Dotted border */
hr.dotted {
	border-top: 3px dotted #bbb;
}

#readmore {
	background-color: lightgoldenrodyellow;
	border-style: double;
}